# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
pubspec.lock

# Builds & intermediates
build/
.gradle/
**/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.iml

# Platform build outputs
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
android/.cxx/
android/local.properties
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Misc
*.log
*.keystore
*.jks
